
<div class="col extrapadding">
    <h3>Manage your cases</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Case Title</th>
                <th>Created At</th>
                <th>Property</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <% @cases.each do |c| %>
                <tr class="align-middle">
                    <td><%= c.casetitle %></td>
                    <td><%= c.created_at.strftime("%Y-%m-%d %H:%M")%></td>
                    <td><%= c.estate.address %></td>
                    <td><%= link_to(icon_get("journal", "Go To Case"), case_path(c), {:class => "btn btn-primary"}) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to(new_case_url, :class => "btn btn-success") do %>
        <%= icon_get("plus-circle", "Create Case") %>
    <% end %>
</div>