<div class="container">
    <h1><%= @case.casetitle %></h1>
    <div class="row gy-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <%= simple_form_for(@case, html: { class: '' }) do |f| %>
                        <div class="mb-3">
                            <%= f.input :casetitle, label: 'Case title:' %>
                        </div>
                        <div class="mb-3">
                            <%= f.input :casedescription %>
                        </div>
                        <%= f.submit "Save", class: "btn btn-primary" %>
                    <% end %>
                    <hr>
                    <h5>Current status:</h5>
                        <ul class="list-group list-group-horizontal">
                            <% Case.case_statuses.each do |k, v| %> 
                                <li class="list-group-item list-group-item-case <%= "currentstatus" if @case.case_status == k %>">Case <%= k.to_s.capitalize %></li>
                            <% end %>
                        </ul>
                    <hr>
                    <h5>Actions</h5>
                    <span>Assign Case</span>
                        <%= simple_form_for(@case, html: {class: "" }) do |a| %>
                            <div class="mb-3">
                                <%= a.input :assigned_to, collection: @suppliers.map { |sup| [sup.email, sup.id]}, input_html: { class: 'form-control' } %>
                            </div>
                                <%= a.button :submit, class: 'btn btn-primary' %>
                        <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-5">
        <div class="comments col-sm-6">
            <%= form_for [@case, Comment.new] do |f| %>
            <%= f.text_area :content, placeholder: "Comment the case" %><br/>
            <%= f.hidden_field :user_id, value: current_user.id%>
            <%= f.submit "Post!"  %>
            <% end %>
            <ul class="comment">
                <%= render partial: 'comments/comment', collection: @case.comments %>
            </ul>
        </div>
    </div>
</div>