<div class="col extrapadding">
    <h3>Manage your estates</h3>
        <table class="table align-middle">
        <thead>
            <tr>
                <th>Address</th>
                <th>Zip code</th>
                <th>Number of open cases</th>
                <th>Go To</th> 
            </tr>
        </thead>
        <tbody>
            <% @myestates.each do |estate| %>
                <tr>
                    <td><%= estate.address %></td>
                    <td><%= estate.zipcode %></td>
                    <td><%= estate.cases.count%></td>
                    <td><%= link_to(estate, :class => "btn btn-info") do %>
                            <%= icon_get("arrow-right-circle", "View Estate") %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
        </table>
            <%= link_to(new_estate_url, :class => "btn btn-success") do %>
            <%= icon_get("plus-circle", "Add Estate") %>
        <% end %>
</div>